<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout_4block :: layout(~{::body/content()})}">
<head>
<title>タスク一覧｜タスク管理システム</title>
<meta charset="UTF-8">
</head>
<body>
    <h3>タスク一覧画面</h3>
    <th:block th:if="${true}">
        <div class="regist_link">
            <a th:href="@{/regist/input}">新規タスク登録</a>
        </div>
    </th:block>
    <th:block th:if="${!taskListResultDto.hasTasks}">
        <div class="message">
            <p th:text="${taskListResultDto.errorMsg}"></p>
            <a th:href="@{/list}">一覧表示に戻る</a>
        </div>
    </th:block>
    
    <table class="list_table" th:if="${taskListResultDto.hasTasks}">
        <thead>
	        <tr>
	            <th class="taskName">タスク名</th>
	            <th class="taskDscript">タスク説明</th>
	            <th class="dueDate">期限日</th>
	            <th class="priorityLabel">優先度</th>
	            <th class="status">ステータス</th>
	            <th class="mngUser">担当者</th>
	            <th class="userName">作成者</th>
	            <th:block th:if="${true}">
	                <th class="button" colspan="2">操作</th>
	            </th:block>
	        </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${taskListResultDto.tasks}">
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.taskDscript}"></td>
                <td th:text="${task.dueDate}"></td>
                <td th:text="${task.priority}"></td>
                <td th:text="${task.status}"></td>
                <td th:text="${task.mngUser}"></td>
                <td th:text="${task.userId}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>