<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task_manager.mapper.TaskMapper">
    <!-- 全件検索 -->
    <select id="findAllTasks"
        resultType="com.task_manager.entity.TaskEntity">
        SELECT *
        FROM tasks
    </select>
    
    <!--　削除していないタスクを全件取得 -->
    <select id="findByDelFlgTasks"
        resultType="com.task_manager.entity.TaskEntity">
        SELECT * 
        FROM tasks
        WHERE del_flg = #{delFlg}
    </select>
    
    <!--　タスク名の完全一致・部分一致検索を行い該当するタスクを取得 -->
    <select id="findByTaskName"
        resultType="com.task_manager.entity.TaskEntity">
        SELECT *
        FROM tasks
        WHERE del_flg = #{delFlg} AND task_name LIKE CONCAT ('%', #{taskName}, '%')
    </select>
    
    <!-- 新規タスク登録 -->
    <insert id="createTask"
        parameterType="com.task_manager.entity.TaskEntity">
        INSERT INTO tasks (
            user_id,
            task_name,
            task_dscript,
            due_date,
            priority,
            status, 
            del_flg,
            mng_user,
            rgst_time,
            updt_user,
            updt_time)
        VALUES (
            #{userId},
            #{taskName},
            #{taskDscript},
            #{dueDate},
            #{priority},
            #{status},
            #{delFlg},
            #{mngUser},
            CURRENT_TIMESTAMPTZ,
            #{updtUser},
            CURRENT_TIMESTAMPTZ)
    </insert>
    
</mapper>
