#サーバー設定
server:
  port: 8080
  servlet:
    context-path: /task_manager

#DB接続設定
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
      properties:
        hidernate.format_sql: true
        hidernate.show_sql: true
        
          
 